{% extends "base.twig" %}



{% block body %}
    <form>
        <label "message-text" > Message text</label>
        <input name="messageText" type="text" class="form-control" "message-text" placeholder="" required="true">
    </form>
{% endblock %}